.button {
  align-self: center;
  margin-top: 20vh;
  background-color: #5096FF;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
}

.processing-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
}

.icon {
  margin-right: 8px;
  margin-top: -2px;
}

.data {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #F9F9F9;
}

.header-text {
  font-family: 'Figtree', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}

.img-container {
  align-self: center;
  width: 50%;
  margin-top: 10vh;
}

.right {
  margin-left: 12vw;
}

.funky {
  color: #5096FF;
}

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8vw;
  margin-left: 8vw;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-text {
  text-align: center;
  margin-right: 12vw;
  margin-left: 12vw;
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #0d0d0d;
}

.d2 {
  margin-right: 8vw;
  margin-left: 8vw;
}

.text {
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0d0d0d;
  background-color: #F9F9F9;
  width: 80%;
  padding-bottom: 20px;
}

.not-text {
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.label {
  color: #0d0d0d;
}

.spinner {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0d0d0d;
  height: 28px;
  z-index: 10000;
}

.home-container{
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  z-index: 1;
}

ion-content.content-container {
  --padding-bottom: 0;
  --overflow: hidden;
}

ion-content.content-container .home-container {
  padding-bottom: 0 !important;
}

.item-name {
  font-family: 'Figtree', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #0d0d0d;
  width: 40vw;
  text-wrap: normal;
  margin: 0;
}

.item-cost {
  font-family: 'Figtree', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #0d0d0d;
  margin: 10px 0 0 0;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.total-cost {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  margin: 0;
  margin-right: 10px;
  margin-bottom: -4px;
}

.household-selector {
  margin-top: 5px;
}

.item-container-left {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.item-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #F9F9F9;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-quantity-label {
  font-family: 'Figtree', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #444444;
  text-align: right;
  margin: 0 0 5px 0;
}

.item-quantity {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: right;
  margin: 0;
}

ion-list {
  background-color: #F9F9F9;
}
.item {
  background-color: #F9F9F9;
}

.final-image {
  margin-top: 25vh;
}
.final-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  overflow-y: scroll !important;

}

